#verify-con {
  margin-bottom: 1rem;
}

#verify-str {
  font-size: 2rem;
  font-weight: bold;
  margin-right: 1rem;
}

.copy-success {
  background-color: limegreen;
}

.copy-failure {
  background-color: crimson;
}
