<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="KOISTUDY의 문제 난이도와 유저 레이팅을 제공하는 서비스">
    <meta name="keywords" content="KOISTUDY, 알고리즘, 문제해결, PS, ARKOIVE, arkoive">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>ARKOIVE -
      {% block title %}{% endblock %}
    </title>
  </head>
  <body>
    <header>
      <a href='{{ url_for("home") }}' id="title">ARKOIVE</a>
      <nav>
        <a class="menu" id="menu-prob">문제</a>
        <a class="menu" id="menu-cont">기여</a>
        <a class="menu" id="menu-rank">랭킹</a>
        <a class="menu" id="menu-my">MY</a>
      </nav>
    </header>
    <main>
      {% block main %}{% endblock %}
    </main>
    <footer>
      ARKOIVE
      <br>
      © 2026. necu1029 All rights reserved.
    </footer>
    <script>
      const flashes = JSON.parse('{{ get_flashed_messages() | tojson }}');
      flashes.forEach(element => {console.log(element);});
    </script>
  </body>
</html>
